@primary-color: #7315BE;
@secundary-color: #650FAA;
@tertiary-color: #9558C4;
@blanco: #FFF;
@blanco-secundary: #EDF1F7;
@border-button: #9B4BF8;

@shadow-primary: #4B008666;
@shadow-secundary: #00000029;

@color-input: #9F9F9F;

@color-error: #FF006C;
@background-button: #EFE8EE;

@color-text: "#434343";
@color-text-secundaty: "#343434";

@color-precio: #6200FF;

@background-color-footer: #F5F5F5; 